
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body{
  background-color: white;
}

html{
  margin-left:200px;
  margin-right:200px;
  background-color: lightgray;
}

#title{
  font-size: 400%;
  font-style: oblique;
  text-align: center;
  color: blue;
}

img{
  text-align:center;
}

table {
    background-color: rgb(240, 240, 240);
    border-collapse: collapse;
    border: 1px solid black;
}
